.h1Div{font-style:italic; color:darkgreen;background:lightyellow; font-size:14pt;border:1px solid darkblue;}
.h2Div{font-style:italic;color:darkblue;background:lightcyan;font-size:12pt;}
.pDiv{color:darkred;background:lightgray;}
